:root{
   --moblile: rgb(166, 0, 255);
   --tablet: rgb(255, 255, 0);
   --laptop: rgb(10, 0, 255);
   --Desktop: rgb(255, 0, 0);
}       

body{background-color: rgb(255, 255, 255);}
body{backface-visibility: hidden;text-align: center;}

h1{background-color: red;}

@media screen and(min-width:576px) {
    h1{background-color: var(--moblile);}
}
